<!-- <div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label for="firstname" stacked>firstname</ion-label>
        <ion-input type="text" name="firstname" [(ngModel)]="contact.firstname" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="lastname" stacked>lastname</ion-label>
        <ion-input type="text" name="lastname" [(ngModel)]="contact.lastname" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="username" stacked>username</ion-label>
        <ion-input type="text" name="username" [(ngModel)]="contact.username" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="city" stacked>city</ion-label>
        <ion-input type="text" name="city" [(ngModel)]="contact.city" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="state" stacked>state</ion-label>
        <ion-input type="text" name="state" [(ngModel)]="contact.state" [disabled]="!edit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="country" stacked>country</ion-label>
        <ion-input type="text" name="country" [(ngModel)]="contact.country" [disabled]="!edit"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button color="primary" (click)="onClicked(!edit)">{{edit? "save" : "edit"}}</button>
    </div>
  </form>
</div>
 -->
