page-intro {
  .swiper-pagination-bullet-active {
    background: #fff;
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
    /*background: linear-gradient(to bottom right, rgb(233, 44, 75), #5691c8);*/
    background: linear-gradient(to bottom right, #FF9800, #F44336);
    border-color: transparent;
    cursor: pointer;
  }

  .slide-title {
    margin-top: 2.8rem;
    color: #fff;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
    margin-top: 80px;
    -webkit-box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
    background: #fff;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;

    b {
      color: #000000;
      font-size: 18px;
    }
  }

  .bar-button-primary-md,
  .bar-button-clear-md-primary,
  .bar-button-md-primary {
    color: #fff;
  }

  .button-clear-md-primary {
    color: #fff;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 80px;
  }

  .bottom-accounts-btns {
    position: absolute;
    z-index: 999999999;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .bottom-accounts-btns .button-md {
    background: #FF9800;
    font-size: 1.6em;
    padding: 25px;
    width: 46%;
    display: inline-block;
  }
}
